html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

div.layout {
	border: 0px solid gray;
	position: absolute;
}

.main_nav {
	height: 80px;
	top: 250px;
}

#wrap {
	height: auto;
	/* 	min-height: calc(100% - 310px); */
	min-height: 100%;
}

.mainbox {
	/* height: 100%;
	min-height:1000px; */
	margin-bottom: 20px;
	font-size: 13pt;
}

.main_footer {
	margin-top: 18px;
}