div.container-fluid{
	background-color: #0b214e;
}

nav{
	margin-top: 170px;
}

.navbar-default{
border: 0px}

.navbar-nav{
	float: right;

	}
	
.navbar-default .navbar-nav>li>a{
	color:white;
	font-weight: bold;
	}
	
 .navbar-nav>li>a{
  	margin-right: 100px;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  
  .navbar-default .navbar-brand{
  	color:#0b214e;
	font-weight: bold;
  }