html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

div.layout {
	border: 0px solid gray;
	position: absolute;
}

.main_nav {
	height: 80px;
	top: 250px;
}

#wrap, #content-wrap, .row {
	height: auto;

}

.mainbox {

	margin-bottom: 20px;
	font-size: 13pt;
}

.main_footer {
	margin-top: 25px;
}